*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;    
}
body
{
    color: lightcyan;
}
.header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a 
{
    display: inline-block;
    font-size: 25px;
    color: #081b29;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.navbar a:hover
{
    color: #0ef;

}
#menu-icon{
    font-size: 3.6rem;
    color: #0ef;
    display: none;
}
.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(img/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content
{
    max-width: 600px;
}
.home-content h1
{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
}
.home-content h1
{
    font-size: 60px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;

}
.home-content h1 span
{
    color: #0ef;

}
.home-content h1 span
{
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-sci a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    margin: 30px 15px 30px 0;
}
.home-sci a:hover
{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box
{
    display: inline-block;
    padding: 12px 50px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover
{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 20px cyan,
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color:lightcyan;
    
}

.heading{
    margin: 5rem;
    text-align: left;
    font-size: 4.5rem;
    color: #081b29;
}
.heading span{
    color: #0ef;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: lightcyan;
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 25px;
    margin: 25px 25px 15px;
    cursor: default;
    opacity: 0;
    animation: slideRight .50s ease forwards;
}
.about-text{
    width: 750px;
    color: #081b29;
    cursor: default;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color:#081b29;
    font-size: 75px;
    text-transform: capitalize;      
}
.about-text span{
    color: #0ef;
}
.about-text h5{
    color:navy;
    font-size:small;
    margin-bottom: 25px;
}
.about-text a{
    text-decoration: none;
    color: #0ef;
}

.services{
    background-color: lightcyan;
    background-size: cover;
}
.services h2{
    margin-bottom: 5rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box {
    flex: 1 1 30rem;
    background: #081b29;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #0ef;
}
.services-box i{
    font-size: 7rem;
    color: #0ef;
}
.services-box .btn{
    display: inline-block;
    padding: 12px 50px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
}
.contact{
    background-color: lightcyan;
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #0ef;
    background: #081b29;
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
    display: inline-block;
    padding: 12px 50px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}